.header {
  background-color: blue;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  padding: 20px 0 60px;
  position: relative;
}
.headerContainer {
  width: 100%;
  max-width: 1200px;
}
.header.listmode{padding: 20px 0;}

.headerList {
  display: flex;

  gap: 20px;
  width: 100%;
  justify-content: space-between;
}

.headerListItem {
  display: flex;
  gap: 20px;
  padding: 10px;
  border: 1px solid blue;
  align-items: center;
  
}

.headerListItem.active:hover {
  border: 1px solid white;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  
}
.headerBtn {
  padding: 10px 20px;
  font-size: large;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: rgb(29, 63, 201);
  color: white;
}

.headerSearch {
  margin-top: 30px;
  width: 100%;
  max-width: 1200px;
  height: 30px;
  display: flex;
  background-color: white;
  border: 3px solid yellow;
  align-items: center;
  border-radius: 5px;
  justify-content: space-around;
  padding: 10px 0;
  position: absolute;
  bottom: -25px;
}
.headerIcon {
  color: rgb(158, 157, 157);
}
.headerSearchItem {
  display: flex;
  gap: 10px;
  align-items: center;
}
.headerSearchInput {
  border: none;
  outline: none;
}
.headerSearchText {
  color: rgb(158, 157, 157);
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:10px

}
.calenderDate{
  color: rgb(158, 157, 157);
  border: none;
  outline: none;
  align-items: center;
}
.option {
  position: absolute;
  top: 55px;
  color: gray;
  z-index: 1;

  border-radius: 5px;
  background-color: white;
}
.optionItem {
  
  display: flex;
  width: 200px;
  justify-content: space-between;
  gap: 20px;
  margin:10px;
}

.optionCounter {
  display: flex;
  gap: 20px;
}
